manifest {
    author = 'Charles Plessy'
    recurseSubmodules = true
    description = 'Nextflow pipeline for running the CAGEscan pipeline'
    name = 'cagescan-pipeline'
    homePage = 'https://github.com/oist/plessy_CAGEscan_Nextflow'
    nextflowVersion = '>=20.07.0'
    version = '0.0.0'
}

params {
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
